/** @format */

.cardContainer {
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 350px;
	margin: auto;
	text-align: center;
	border-radius: 8px;
	padding: 20px;
	font-family: Geneva, Verdana, sans-serif;
}
.picture {
	border-radius: 50%;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 6px solid whitesmoke;
}
.card p hr {
	color: rgb(77, 88, 101);
}
